<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafer fault detection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<form action="/predict" method="post" enctype="multipart/form-data">
    <h1 class="title">Upload CSV for the prediction</h1>
    <div class="frame">
        <div class="center">
            <div class="title">
                <!-- This header will update with the file name -->
                <h1 id="dropzone-text">Drop file to upload</h1>
            </div>
            
            <label for="file-upload" class="dropzone" style="cursor: pointer; display: block;">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" id="file-upload" class="upload-input" name="file" accept=".csv" required onchange="displayFileName()" />
            </label>
            
            <button type="submit" class="btn" name="uploadbutton">Upload file</button>
        </div>
    </div>
</form>

<script>
function displayFileName() {
    const fileInput = document.getElementById('file-upload');
    const textElement = document.getElementById('dropzone-text');
    
    if (fileInput.files.length > 0) {
        // Change the text to show the selected file name
        textElement.innerHTML = "Selected: <span style='color: #4385f4;'>" + fileInput.files[0].name + "</span>";
    } else {
        textElement.innerHTML = "Drop file to upload";
    }
}
</script>

</body>
</html>